<div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="horizontal">
          <!-- <li>nz-menu-item<i nz-icon nzType="home" nzTheme="outline"></i></li> -->
          <li nz-menu-item><a routerLink="/profile"></a>Profile</li>
          <li nz-menu-item><a routerLink="/calendar"></a>Calendar</li>
          <li nz-menu-item><a routerLink="/notes"></a>Notes</li>
          <li nz-menu-item><a routerLink="/task"></a>Task</li>
          <li nz-menu-item><a routerLink="/login"></a>Logout</li>
        </ul>
        
      <!--    <nz-header>-->
      <!--      <div class="app-header">-->
      <!--        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">-->
      <!--            <i class="trigger"-->
      <!--               nz-icon-->
      <!--               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"-->
      <!--            ></i>-->
      <!--        </span>-->
      <!--      </div>-->
      <!--    </nz-header>-->
      
