h1 {
    font-family: Bahnschrift SemiBold,Bahnschrift SemiBold;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 15px;
  }

  h2 {
      font-family: cursive;
      font-size: xx-large;
      text-align: center;
      color: rgb(177, 41, 41);
      padding-top: 25px;
  }
        
        
        .login-form {
          max-width: 600px;
          background-color: rgba(255, 255, 255, 0.856);
          border-radius: 20px;
          padding: 40px;
          text-align: center;
          width: 400px;
          margin: auto;
          bottom: -100px;
        }
  
        .login-form-margin {
          margin-bottom: 30px;
        }
  
        .login-form-forgot {
          float: right;
        }
  
        .login-form-button {
          width: 100%;
        }