div {
    text-align: center;
  }
  
  .add-task-btn {
    padding: 8px;
    border-radius: 5px;
    margin-left: 8px;
    border-width: 0;
    &:not([disabled]):hover{
      background: #b2b2b2;
      color: #3f79e3;
    }
  }
  
  ul {
    padding-left: 41%;
    font-size: larger;
  }
  
  .input {
    padding: 8px;
    border-radius: 5px;
    border-width: 0;
    width: 50%;
  }
  
  .trash-icon{
    border: 0;
    background: transparent;
    color: #696666;
    opacity: 0.5;
    cursor: pointer;
    transform: translateY(-2px);
    &:hover{
      color: red;
      opacity: 1;
    }
    transition: color ease-in 500ms;
  }

  .nz-card {
    padding: 8px;
    border-radius: 10px;
    border-width: 0;
    width: 300px;
  }