body{
    background: #f7f7ff;
    margin-top:20px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.541);
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0px;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}


mb-0 {
    border-radius: 20px;
}


h1 {
    font-family: Bahnschrift SemiBold,Bahnschrift SemiBold;
    text-align: center;
    color: rgb(0, 0, 0);
  }
        
        
        .edit-form {
          max-width: 600px;
          background-color: rgba(255, 255, 255, 0.856);
          border-radius: 20px;
          padding: 40px;
          text-align: center;
          width: 400px;
          margin: auto;
        }
  
        .edit-form-margin {
          margin-bottom: 16px;
        }
  
        .edit-form-forgot {
          float: right;
        }
  
        .edit-form-button {
          width: 100%;
        }
  
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.541);
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0px;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
} 

[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
  }