body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f080;  
      
}
.main-body {
    padding: 15px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: auto;
    /*border: 3px solid green;*/
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {

    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(255, 254, 254, 0.534);
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
    top: -40px;
    width: 150%;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

.nz-avatar {
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin-bottom: 50px;
    align-items: stretch;
}

.p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.clock-in {
    position: absolute;
    border-radius: 5px;
    width: 120px;
    height: 100px;
    left: 100px;

}

.clock-out {
    position: absolute;
    border-radius: 5px;
    width: 120px;
    height: 100px;
    padding-left: 20px;
    right: 100px;
}

.btn-display {
    margin-right: 50px;
}